-
  :T_BOT_APIKEY_DEV: YOUR_TELEGRAM_TOKEN
  :T_BOT_APIKEY_PROD: YOUR_TELEGRAM_TOKEN

-
  :WIT_SERVER_ACCESS_TOKEN: YOUR_WIT_SERVER_TOKEN
  :WIT_CLIENT_ACCESS_TOKEN: YOUR_WIT_CLIENT_TOKEN

-
  :REDIS_HOST: 127.0.0.1
  :REDIS_PORT: 6379
  :REDIS_PASSWORD: YOUR_REDIS_PASSWORD
  :REDIS_DB_MAPNUS: 0

-
  :REDIS_HOST: 127.0.0.1
  :REDIS_PORT: 6379
  :REDIS_PASSWORD: YOUR_REDIS_PASSWORD
  :REDIS_DB_MAPNUS: 0